<h2>Welcome {{name}}</h2>
<p>You have written {{posts.length}} posts so far</p>

<div id="post-container">
<button class="btn btn-warning">New Post</button>
{{#each posts as |post|}}
<div id="post-{{post.id}}" class="card">
    <div class="card-body">
        <h4 class="card-title">{{post.title}}</h4><p>{{format_date post.date_created}}</p> 
        <a href="/post/{{post.id}}" class="btn btn-primary">View Post</a>
        <button class="btn edit btn-secondary">Edit Post</button>
        <button class="btn delete btn-danger">Delete Post</button>
    </div>
</div>
{{/each}}
</div>
<script src="./js/logout.js"></script>
<script src="/js/dashboard.js"></script>