
<div>
    <h2 class="post-title">{{post.title}}</h2>
    <p class="post-content">{{post.content}}</p>
</div>

{{#if post.comments.length}}
{{#each post.comments as |comment|}}
<div class="card comment">
    <p class="card-text user-partial">comment from: {{comment.user.username}}</p>
    <p class="card-text content-partial">{{comment.comment}}</p>
</div>
{{/each}}
{{else}}
<h3>No Comments Yet...</h3>
{{/if}}

<div id="add-comment">
    <form action="">
        <label for="new-comment" class="form-label">Add new comment:</label>
        <textarea class="form-control" id="new-comment" rows="3"></textarea>
        <button type="submit" class="btn btn-secondary m-3">add</button>
    </form>
</div>